/* commom for both headers */
.navbar {
    padding-block: 15px;
}

/*first header */
.navbar-custom {
    border-top: 10px solid #00693E;
}

.navbar-brand img {
    height: 40px; 
}

.divider {
    border-left: 1px solid #ddd;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}


/* second header */
.header-icons a{
    background-color: white;
    color: #00693E;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-item a:hover {
    color: white;
    text-decoration: underline;
    font-size: 1.1em;   
}

.dropdown-menu li a{
    color: black;
}

.navbar-nav .nav-item {
    font-weight: bold;
    margin-left: 20px;
}

p {
    margin: 0;
}

.navbar .btn {
    margin-left: 20px;
}

.info-section .d-flex {
    gap: 0.3rem;
}

.header-item {
    font-weight: bold;
}

.nav-item a {
    color: white;
}

.icon {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: white; 
}

/* footer */
.footer-custom {
    background-color: #161f1e;
    color: white;
    font-weight: bold;
}

.footer-custom .nav-item {
    text-decoration: underline;
}


@media (max-width: 786px) {
    .info-section {
        visibility: hidden;
        display: none;
    }

    .navbar-custom .navbar-brand {
        flex-grow: 1;
        text-align: center;
    }

    .carousel {
        display: none;
    }
}

